.game-image {
    /* float: left; */
    height: 150px;
    width: 150px;
    margin: 20px;
    transition: transform .2s;
}

.game-image:hover {
    transform: scale(1.2);
}

/* .game-image:nth-of-type(4n + 1) {
    clear: left;
} */